*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    display: flex;
    justify-content: center;
    background-image: url('fundo.jpg');
    backdrop-filter: blur(2px);
    background-image:-moz-linear-gradient()(45deg, rgb(250, 250, 0) 0%, rgb(255, 127, 7) 100%);


}

.texto{
    font-size: 13px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.form{
    margin-top: 25px;
}

.inserir{
    border-radius: 4px;
    border-style:groove;
}

#options{
    width: 159px;
}

.formulario{
    position: relative;
    width: 230px;
    height:  320px;
    margin: 30px;
    margin-top: 150px;
    box-shadow: 3px 5px 15px rgba(250, 250, 250, 0.13);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.274);
    border-top: 1px solid rgba(255, 255, 255, 0.507);
    border-left: 1px solid rgba(255, 255, 255, 0.507);
}

.direitos{
    margin-top: 35px;
    color: rgb(233, 233, 233);
    font-size: 12.5px;
}
.titulo{
    color: rgb(243, 243, 243);
    font-size: 18px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 5px;
    text-align: center;

}